a {

    color: white;
    text-decoration: none;
}

body {

    padding: 10px;
    width: 100%;
    background-color: rgb(68 62 88);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

h1 {

    display: flex;
    justify-content: center;
    font-family: fantasy;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 1px 1px 5px rgb(139, 46, 245);
    font-size: xx-large;
    margin-bottom: 30px;
    color: rgb(19, 1, 1);
    -webkit-text-stroke: 0.5px white;
}

nav {
    background-color: rgb(157 175 255 / 50%);
    display: flex;
    justify-content: space-between;
    gap: 16px;
    padding: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 8px;
    margin-bottom: 10px;

}





.card {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    background-color: rgb(157 175 255 / 50%);
}

#preco {
    display: flex;

}

.produtos {
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px black;
    gap: 5px;
    padding: 5px;
    max-width: 300px;
}

article {

    display: flex;
    flex-direction: column;
    align-items: center;

}

h3 {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    
}
h2{
    margin-bottom: 5px;
}

img {
    margin-top: 5px;
    border-radius: 5px;
    width: 200px;
}

button {
    color: white;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
}

button:hover {
    background-color: red;
}

footer {
    margin-bottom: 5px;
    border-radius: 5px;
    gap: 5px;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    display: none;

}

@media (min-width:768px) {

    nav {
        background-color: rgb(157 175 255 / 50%);
        display: flex;
        justify-content: space-between;
        gap: 16px;
        padding: 8px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 8px;
        display: block;
    }


    .card {
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 3rem;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0);
        width: 80%;
        height: 80vh;
        background-color: rgb(157 175 255 / 50%);

    }

    .produtos {
        padding: 12px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        border-radius: 10px;
        border: solid 1px black;
        gap: 10px;
        width: 300px;

    }

    img {
        width: 200px;
    }

    footer {
        margin-bottom: 5px;
        border-radius: 5px;
        gap: 5px;
        padding: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
        display: block;

    }





}

@media(min-width:1024px) {

    nav {
        background-color: rgb(157 175 255 / 50%);
        display: flex;
        justify-content: space-between;
        gap: 16px;
        padding: 8px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        border-radius: 8px;
        display: block;
    }



    .card {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 3rem;
        border-radius: 10px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0);
        width: 80%;
        height: 80vh;
        background-color: rgb(157 175 255 / 50%);
    }

    .produtos {
        display: flex;
        flex-direction: column;
        padding: 12px;
        border-radius: 10px;
        border: solid 1px black;
        gap: 10px;

    }

    img {

        width: 200px;
    }

    footer {
        margin-bottom: 5px;
        border-radius: 5px;
        gap: 5px;
        padding: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: white;
        box-shadow: 1px 1px 5px rgb(0, 0, 0);
        display: block;

    }







}